{% extends 'climate/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<div id="weather">
		<h1>{{ outside_temp }}</h1>
		<h5>{{ status }}
		<img src="{{ icon_url }}" />
	</div>

	<div id="chart">
		<img src="{% static 'climate/chart.svg' %}" />
	</div>

	<div id="wemo">
		<h6>Desk Light:</h6>
		<p>{{ wemo_state }}</p>
		<button type="button" class="btn btn-success">
			<a class="text-light" href="{% url 'climate:desk_on' %}">on</a>
		</button>
		<button type="button" class="btn btn-danger">
			<a class="text-light" href="{% url 'climate:desk_off' %}">off</a>
		</button>
	</div>
	
</div>

{% endblock content %}